<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/form">Add New Message</a>
    <% messages.forEach(message => { %>
      <div>
        <p> <%= message.text %> </p>
        <h3> -<%= message.user %> </h3>
        <h4> <%= message.added %> </h4>
      </div>
    <% }) %>
  </body>
</html>
